<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
          <h3> Your message is received successfully. 
              <br>Thank you for Subscribing! </h3>
  </body>
</html>
